<html>
	<head>
		<title>Gabe Radovsky</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        
	</head>
	<body>
        
        <div class="smokescreen">
            <div class="spinner">
                <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div>
        </div>
        
		<!-- Header -->
            <section id="header">
                <header>
                    <h1>Gabe Radovsky</h1>
                    <p>Software Engineer Specializing<br>in Rails, SQL, and JavaScript</p>
                </header>
                <footer>
                    <a href="#first" class="button style2 scrolly scrolly-centered" id="about-me">About Me</a>
                                        <a href="#portfolio" class="button style2 scrolly scrolly-centered">Portfolio</a>
                                        <a href="#contact" class="button style2 scrolly scrolly-centered">Contact</a>
                </footer>
            </section>
		
		<!-- Banner -->
			<section id="banner">
			</section>
		
		<!-- Feature 1 -->
			<article id="first" class="container box style1 right">
				<a class="image fit"><img src="https://s3-us-west-1.amazonaws.com/gaberadovsky/IMG_4953.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>Biography</h2>
					</header>
					<p>I grew up in Massachusetts, lived in Colorado for most of my adult life, and then found the allure of the Bay Area too strong to resist. My passions include Brazilian jiu-jitsu, art, traveling, linguistics, Romance languages, and solving new and complex challenges with code.</p>
				</div>
			</article>
		
		<!-- Feature 2 -->
			<article class="container box style1 left">
				<a class="image fit"><img src="images/escher.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>Passion</h2>
					</header>
					<p>I developed a deep appreciation for coding after beginning to learn Python and C++ for Computer Science courses in college. I came to view these problems beyond the scope of my normal abilities as puzzles to be solved, and I've always loved puzzles.</p>
				</div>
			</article>
            
    		<!-- Feature 3 -->
    			<article class="container box style1 right">
    				<a class="image fit"><img src="images/backbone.jpg" alt="" /></a>
    				<div class="inner">
    					<header>
    						<h2>Skills</h2>
    					</header>
    					<p>I've spent the last few years working on Agile teams to ship fast, well-documented APIs, and complex custom interfaces. Technologies used have included Rails, various JavaScript frameworks, different SQL flavors, and a number of AWS tools.</p>
    				</div>
    			</article>
		
		<!-- Portfolio -->
			<article class="container box style2" id="portfolio">
				<header>
					<h2>Portfolio</h2>
					<p>A few projects of mine:</p>
				</header>
                <div class="inner gallery">
					<div class="row flush">
						<div class="3u"><div class='portfolio-item'>Laissez-fairebnb</div><a target="_blank" href="https://laissez-fairebnb.herokuapp.com/users/new" class="image fit"><img src="images/laissez-fairebnb.png" alt="" title="laissez-fairebnb" /></a></div>
						<div class="3u"><div class='portfolio-item'>Snake</div><a target="_blank" href="/snake" class="image fit"><img src="images/snake.png" alt="" title="snake" /></a></div>
						<div class="3u"><div class='portfolio-item'>Trellino</div><a target="_blank" href="http://gr-trellino.herokuapp.com" class="image fit"><img src="images/trellino.png" alt="" title="trellino" /></a></div>
						<div class="3u"><div class='portfolio-item'>Asteroids</div><a target="_blank" href="/asteroids" class="image fit"><img src="images/asteroids.png" alt="" title="asteroids" /></a></div>
					</div>
                </div>
			</article>
            <article class="container box style3" id="contact">
                <header>
                    <h2>Contact</h2>
                    <p>If you're interested in me for full-time work, freelance work, or just to be friends.</p>
                </header>

                <section>
                    <div class="table-wrapper">
                        <table class="default">
                            <tbody>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="mailto:gabriel.radovsky@gmail.com">gabriel.radovsky@gmail.com</a></td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>(720)341-6076</td>
                                </tr>
                                <tr>
                                    <td>Résumé</td>
                                    <td><a target="_blank" href="https://s3-us-west-1.amazonaws.com/gaberadovsky/gabe-radovsky-resume.pdf">Click to View</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </article>

		<section id="footer">
			<ul class="icons">
                <li><a target="_blank" href="https://www.linkedin.com/in/radovsky" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a target="_blank" href="https://github.com/radovsky" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a target="_blank" href="https://www.facebook.com/gabe.radovsky" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			
			</ul>
			<div class="copyright">
				<ul class="menu">
					<li>Design: <a target="_blank" href="http://html5up.net">HTML5 UP</a></li>
                    <li>Adapted by Gabe Radovsky (2014-2017)</li>
				</ul>
			</div>
		</section>

		<![if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.poptrox.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<![if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]>

        <script>
        
        window.onload = function() {
            $('.smokescreen').hide();
        }
        </script>

	</body>
</html>