<html>
	<head>
		<title>Gabe Radovsky</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        
	</head>
	<body>
        
        
        <div class="smokescreen">
            <div class="spinner">
                <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div>
        </div>
        
        

		<!-- Header -->
            <section id="header">
                <header>
                    <h1>Gabe Radovsky</h1>
                    <p>Web Developer Specializing<br>in Rails and JavaScript</p>
                </header>
                <footer>
                    <a href="#first" class="button style2 scrolly scrolly-centered" id="about-me">About Me</a>
                                        <a href="#portfolio" class="button style2 scrolly scrolly-centered">Portfolio</a>
                                        <a href="#contact" class="button style2 scrolly scrolly-centered">Contact</a>
                </footer>
            </section>
		
		<!-- Banner -->
			<section id="banner">
			</section>
		
		<!-- Feature 1 -->
			<article id="first" class="container box style1 right">
				<a class="image fit"><img src="images/gabe.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>Biography</h2>
					</header>
					<p>I've lived in Colorado since 2004, and I've fallen in love with the people and the landscape. My passions include Brazilian jiu-jitsu, art, traveling, learning new languages, and not least of all, solving new and complex challenges with code.</p>
				</div>
			</article>
		
		<!-- Feature 2 -->
			<article class="container box style1 left">
				<a class="image fit"><img src="images/escher.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>Passion</h2>
					</header>
					<p>I developed a deep appreciation for coding after beginning to learn Python and C++ for Computer Science courses in college. I came to view these problems beyond the scope of my normal abilities as puzzles to be solved, and I've always loved puzzles.</p>
				</div>
			</article>
            
    		<!-- Feature 3 -->
    			<article class="container box style1 right">
    				<a class="image fit"><img src="images/backbone.jpg" alt="" /></a>
    				<div class="inner">
    					<header>
    						<h2>Skills</h2>
    					</header>
    					<p>Lately, I've been building web applications using Ruby on Rails, Backbone.js, responsive HTML/CSS, JQuery, and a number of other tools. My interests tend toward cutting-edge JavaScript frameworks, and I'm interested to see where some of them will go in the next few years.</p>
    				</div>
    			</article>
		
		<!-- Portfolio -->
			<article class="container box style2" id="portfolio">
				<header>
					<h2>Portfolio</h2>
					<p>A few recent projects of mine:</p>
				</header>
                <div class="inner gallery">
					<div class="row flush">
						<div class="3u"><div class='portfolio-item'>Laissez-fairebnb</div><a href="http://www.laissez-fairebnb.com" class="image fit"><img src="images/laissez-fairebnb.png" alt="" title="laissez-fairebnb" /></a></div>
						<div class="3u"><div class='portfolio-item'>Snake</div><a href="/snake" class="image fit"><img src="images/snake.png" alt="" title="snake" /></a></div>
						<div class="3u"><div class='portfolio-item'>Trellino</div><a href="http://gr-trellino.herokuapp.com" class="image fit"><img src="images/trellino.png" alt="" title="trellino" /></a></div>
						<div class="3u"><div class='portfolio-item'>Asteroids</div><a href="/asteroids" class="image fit"><img src="images/asteroids.png" alt="" title="asteroids" /></a></div>
					</div>
                </div>
			</article>
            <article class="container box style3" id="contact">
                <header>
                    <h2>Contact</h2>
                    <p>If you're interested in me for full-time work, freelance work, or just to be friends.</p>
                </header>

                <section>
                    <div class="table-wrapper">
                        <table class="default">
                            <tbody>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="mailto:gabriel.radovsky@gmail.com">gabriel.radovsky@gmail.com</a></td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>(720)341-6076</td>
                                </tr>
                                <tr>
                                    <td>Résumé</td>
                                    <td><a href="https://s3-us-west-1.amazonaws.com/gaberadovsky/gabe-radovsky-resume.pdf">View</a></td>
                                <tr>
                                    <td>Address</td>
                                    <td>Ask</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </article>

		
		<section id="footer">
			<ul class="icons">
                <li><a href="https://www.linkedin.com/in/radovsky" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://github.com/radovsky" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="https://www.facebook.com/gabe.radovsky" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			
			</ul>
			<div class="copyright">
				<ul class="menu">
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    <li>Adapted by Gabe Radovsky</li>
				</ul>
			</div>
		</section>

		<![if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.poptrox.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<![if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]>

        <script>
        
        window.onload = function() {
            $('.smokescreen').hide();
        }
        </script>

	</body>
</html>